<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title th:text="#{content.message1}"></title>   <!--KadaiThymeleaf-->
    </head>
    <body>
        <h1 th:text="#{content.message2}"></h1>         <!--Thymeleaf課題-->
            <h2 th:text="#{content.message4}"></h2>     <!--出力画面-->
            <p th:text="#{content.message7} + ${val} + #{content.message8}" ></p>               <!--入力された値は「」です-->
            <p><a th:href="@{/input(previous=${val})}" th:text="#{content.message11}"></a></p>  <!-- 入力画面へ戻る-->
    </body>
</html>